.App {
    text-align: center;
}

.App-header {
    background-color: #8bb8ff;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
}

.App-header .App-title {
    font-family: "Yu Mincho", "宋体", serif;
    margin: 10px 30px;
}
